@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@1,300&display=swap');

.logo{
  font-family: 'Lobster', cursive;
}

.fontR{
  font-family: 'Roboto', sans-serif;
}


.bodyy{
  background: rgb(0,0,36);
  background: linear-gradient(90deg, rgba(0,0,36,0.9262079831932774) 9%, rgba(255,31,0,0.9122023809523809) 100%);
}